<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="d-flex my-4" role="search">
    <input class="form-control me-2" type="search" formControlName="lname"
        placeholder="Search for Contact by lastname ...">
    <button type="submit" class="btn btn-outline-success">
        <i class="bi bi-search"></i>
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="cancel()">
        <i class="bi bi-x-square"></i>
    </button>
</form>
<ul class="list-group" *ngFor="let contact of contacts; let i = index">
    <li class="list-group-item">
        <div class="float-start">
            <h4>{{contact.name}}</h4>
            <p class="text-muted">{{contact.phnumber}}</p>
        </div>
        <button class="my-3 btn btn-danger float-end" (click)="deleteContact(i)">
            <i class="bi bi-trash-fill"></i>
        </button>
    </li>
</ul>